.App {
  text-align: center;
  display: grid;
  grid-template-rows: fit-content 2fr fit-content;
  height: 100vh;
  transition: background-color 1s ease, color 1s ease;
  background-color: var(--page-background-color);
  color: var(--primary-text-color);
}


.searchBarItem {
  width: 100%;
  color: var(--secondary-text-color);
  padding: 2px;
  font-weight: 500;
  cursor: pointer;
}

.searchBarItem:hover {
  background-color: var(--primary-hover-color);
}


.searchInput {
  width: 40vw;
  height: 2em;
}

.songSearchItem {
  position: absolute;
  left: 10px;
  bottom: 30px;
  background-color: white;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px; 
}


.appHeader {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: fit-content;
  background-color: var(--secondary-background-color);
  transition: background-color 1s ease, color 1s ease;

}

.appHeader h1 {
  font-size: xx-large;
}

.profileBadge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-btn-color);
  padding: 5px 10px 5px 5px;
  border-radius: 40px;
  cursor: pointer;

}

.profileBadge img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.profileBadge h3 {
  margin: 0px;
  margin-left: 10px;
}

.middleElem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.guessContainer {
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
}

.guessText {
  width: 50vw;
  border: 2px solid var(--dull-accent-color);
  padding: 8px;
  border-radius: 5px;
  margin: 5px;
}

.submissionBar {
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}


.dropdownContent {
  /* display: none; */
  position: absolute;
  top: 60px;
  background-color: var(--dull-accent-color);
  padding: 10px;
  border-radius: 5px;
}

.dropdownContent h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: underline;
  text-align: left;
}

.dropdownContent input {
  width: 130px;
}

.dropdownMenu {
  position: relative;
}

#dropImg {
  border-radius: 0px;
  width: 15px;
  height: 15px;
}


.streakText {
  text-align: left;
}


.guessControlContainer {
  height: fit-content;
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-color: var(--secondary-background-color);
  padding-bottom: 20px;
  transition: background-color 1s ease, color 1s ease;

}

.guessControlContainer>div {
  margin-left: auto;
  margin-right: auto;

  width: fit-content;
}




.gameoverContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20vh;
}



.gameoverInfo {
  width: 30vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

#skipBtn {
  background-color: var(--secondary-btn-color);
  color: var(--primary-text-color);
  border: none;
  padding: 5px;
  font-size: large;
  border-radius: 3px;
  width: 120px;
}

#submitBtn {
  background-color: var(--primary-btn-color);
  color: var(--primary-text-color);
  border: none;
  padding: 5px;
  font-size: large;
  border-radius: 3px;
  width: 120px;
}


.guessTile {
  width: 50px;
  height: 20px;
  border-radius: 3px;
  position: relative;
  margin: 10px;
}


.guessTile span {
  display: none;
  position: absolute;
  bottom: 22px;
  left: -75px;
  width: 200px;
  font-size: smaller;
}

.guessTile:hover span {
  display: block;
}


#retryBtn {
  background-color: var(--primary-btn-color);
  color: var(--primary-text-color);
  border: none;
  padding: 5px;
  font-size: large;
  border-radius: 3px;
  width: 120px;
}


.playlistToggleItem {
  width: 200px;
  padding: 4px;
  justify-content: center;
  background-color: black;
  border-radius: 4px;
  cursor: pointer;

}

.playlistToggleItem:hover {
  background-color: var(--primary-hover-color);
}

.playlistToggleItem img {
  width: 1em;
  height: 1em;
}

.playlistSearchDropdown {
  height: 30vh;
  overflow-y: scroll;
  position: absolute;
  bottom: 30px;
  background-color: black;
}



.addedByBadge {
  background-color: var(--dull-accent-color);
  color: var(--primary-text-color);
  padding: 0px 10px 0px 8px;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

#trackProgress {
  overflow: hidden;
  width: 40vw;
  border: 2px solid var(--secondary-btn-color);
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  border-radius: 5px;
  background: var(--dynamic-grad);
  outline: none;
  margin-top: 15px;
}


#trackProgress::-moz-range-progress {
  background-color: var(--primary-btn-color);
  height: 100%;
}


#trackProgress::-webkit-slider-thumb {
  width: 0px;
  -webkit-appearance: none;
  height: 100%;
  cursor: ew-resize;
  box-shadow: -20vw 0 0 20vw var(--primary-btn-color);
}


#trackProgress::-moz-range-thumb {
  opacity: 0;
  pointer-events: none;
}