html {
  background-color: rgb(27, 25, 31);
  color: ivory;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;;
}


.searchBarItem{
  width: 100%;
  color: black;
  padding: 2px;
  font-weight: 500;

}
.searchBarItem:hover{
  background-color: #c2c2c2;
}


.searchInput{
  width: 30vw;
  height: 2em;
}

h1 {
  font-size:xx-large;
}


.appHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width:98vw;
  height: 10vh;
}

.profileBadge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profileBadge img{
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.profileBadge h3 {
  margin: 0px;
  margin-left: 10px;
}


.guessContainer {
  /* min-height: 14em; */
  height: fit-content;

  /* display: flex;
  flex-direction: column;
  justify-content:space-evenly; */
  margin-top: 10vh;
  margin-bottom: 5vh;
 

}

.guessText {
  width: 50vw;
  border: 2px solid #5b4d62;
  padding: 8px;
  border-radius: 5px;
  margin: 5px;
}

.submissionBar {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}


.dropdownContent {
  display: none;
  position: absolute;
}


.dropdownMenu:hover .dropdownContent {
  display: block;
}


.streakText {
  text-align: left;
}


.guessControlContainer {
  height: 30vh;
}


.gameoverContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


/* .gameoverContainer div{
  justify-content: center;
} */


.gameoverInfo {
   width: 30vw;
   height: 60vh;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;

}

#skipBtn {
  background-color: #644276;
  color: ivory;
  border: none;
  padding: 5px;
  font-size: large;
  border-radius: 3px;
  width: 120px;
}

#submitBtn {
  background-color: #681193;
  color: ivory;
  border: none;
  padding: 5px;
  font-size: large;
  border-radius: 3px;
  width: 120px;
}


.guessTile {
  width: 50px;
  height: 20px;
  border-radius: 3px;
  position: relative;
  margin: 10px;
}


.guessTile span {
 display: none;
 position: absolute;
 bottom: 22px;
 left: -75px;
 width: 200px;
 font-size: smaller;
}

.guessTile:hover span {
  display: block;
 }
 

 #retryBtn {
  background-color: #681193;
  color: ivory;
  border: none;
  padding: 5px;
  font-size: large;
  border-radius: 3px;
  width: 120px;
}