.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.searchBarItem{
  width: 100%;

}
.searchBarItem:hover{
  background-color: #c2c2c2;
}


.searchInput{
  width: 30vw;
  height: 2em;
}

h1 {
  font-size:xx-large;
}


.appHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width:98vw;
}

.profileBadge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profileBadge img{
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.profileBadge h3 {
  margin: 0px;
  margin-left: 10px;
}


.guessContainer {
  min-height: 14em;
  height: 14em;
}


.submissionBar {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}


.dropdownContent {
  display: none;
  position: absolute;
}


.dropdownMenu:hover .dropdownContent {
  display: block;
}


.streakText {
  text-align: left;
}